body {
  margin: 0;
  padding: 0;
}

.navbar-brand {
  padding: 18px 20px;
  display: inline-block;
}

.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none;
}

/* For iPhone 5/SE */
textarea.rs-input {
  min-width: 200px;
}

.show-grid [class*=rs-col-] {
    padding-top: 10px;
    margin-top: 10px;
}
